@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face 
{
    font-family:'Bombardier';
    src: url('/fonts/Bombardier/Bombardier-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}